.item{
    display: inline-block;
    vertical-align: top;
    width: 24%;
    height: 100vh;
    word-spacing: 0px;
}
#item1{
    background-color :#bfecfd;
    border: 1.5px solid #73d1d6;
    border-right: 0px;
}
#item2{
    background-color: #a7eabf;
    border: 1.5px solid #6ade99;
    border-right: 0px;
}
#item3{
    background-color: #fbe7d1;
    border: 1.5px solid #f78a13;
    border-right: 0px;
}
#item4{
    background-color: #eac5c5;
    border: 1.5px solid red;
}
.container{
    word-spacing: -4px;
}